
canvas {
	width: 70% !important;
	height: 70% !important;
}
.color-square {
	width: 15px;
	height: 15px;
	float: left;
}
.header-row-padded {
  padding-bottom: 30px;
}
.byline {
  color: gray;
  font-size: 0.75em;
  font-weight: bolder;
}
.percentage {
  font-weight: lighter;
  font-size: 1.35em;
}
.table>tbody>tr>td{
  padding: 20px;
}
.title {
  font-size: 1.35em;
  font-weight: bolder;
}
