{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="../../../static/styles/master_style.css">
<link rel="stylesheet" href="../../../static/styles/home_style.css">

<div class="jumbotron jumbotron-fluid">

  <div class="hero-text">
		<p><h2>gothic literature was never<br />black & white</h2></p>
		<br /><br />
		<form action="/results/" id="author-search" method="GET">{% csrf_token %}
				<p><table>
					<tbody>
						<label for="{{ form.author.id_for_label }}">select an author<label>&nbsp&nbsp
							<div id="form-author">{{ form.author }}</form>
						</label>
						&nbsp&nbsp<button type="submit" class="btn btn-custom">go</button>
					</tbody>
				</table></p>
			</div>
		</form>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
  alert("hi there!");
  // $("#form-author").load("demo_test.txt");
</script>
{% endblock %}
