{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="../../../static/styles/master_style.css">
<link rel="stylesheet" href="../../../static/styles/home_style.css">

<div class="jumbotron jumbotron-fluid">

  <div class="hero-text">
		<p><h2>gothic literature was never<br />black & white</h2></p>
		<br /><br />
		<form action="/results/" id="period-search" method="GET">
				<p><table>
					<tbody>
						<label for="{{ form.period.id_for_label }}">select period</label>&nbsp&nbsp
							{{ form.period }}
						</label>
						&nbsp&nbsp<button type="submit" class="btn btn-custom">go</button>
					</tbody>
				</table></p>
			</div>
		</form

</div>

{% endblock %}
